In [7]:
data="hey my self lakshit ayush and devesh my friends"

mylist=data.split()
newlist=[]
for i in mylist:
    if (i not in newlist):
        newlist.append(i)
newlist

['hey', 'my', 'self', 'lakshit', 'ayush', 'and', 'devesh', 'friends']

In [8]:
# Tuples
# -It is a collection of multiple element
# immutable
# index position

In [10]:
mytuple=(10,20)
print(type(mytuple))

<class 'tuple'>

In [16]:
mytuple=(10,"lakshit","hey")
print(type(mytuple))

<class 'tuple'>

In [22]:
mytuple[0:3]

(10, 'lakshit', 'hey')

In [26]:
mytuple.index("lakshit")

1

In [29]:
mytuple+(90,66,77)

(10, 'lakshit', 'hey', 90, 66, 77)

In [30]:
id(mytuple)

2201219063808

In [47]:
x=153   
rem1=x%10
x=x//10
print(rem1)
rem2=x%10
x=x//10
print(rem2)
rem3=x%10
x=x//10
print(rem3)
rem1=rem1**3
rem2=rem2**3
rem3=rem3**3
print(rem1+rem2+rem3,x)

3
5
1
153 0

In [55]:
x=153
y=x
total=0
while(x>0):
    rem=x%10
    total=total+rem**3
    x=x//10
    if(total==y):
        print("amstrong")
    else:
        print("not")

not
not
amstrong

In [ ]:
                                # ASSIGNMENT
# to find out whether a 4-digit number is a amstrong
# to find all unique word from a string no duplicacy
        ''' [hey lakshit user lakshit lakshit] '''